﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>   
    <style>
        #ajax-loader {
            background-color: rgba(184, 184, 184, 0.8);
            z-index: 9999;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: none;
            text-align: center;
            padding-top: 10%;
        }


    </style>



    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    @RenderBody()
    
    <div id="ajax-loader" style='display:none'>
        <img src="@Url.Content("~/Images/ajax-loader.gif")" style='vertical-align: middle;' />
    </div>

    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script></body>
</html>
