﻿@{
    ViewBag.Title = "Chart Representation";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>
<script type="text/javascript">
    $(function () {        
        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("BarChart")',
            data: '{}',
            success: function (chartData) {
                //alert(chartData[0].Title);
                // Callback that creates and populates a data table,    
                // instantiates the pie chart, passes in the data and    
                // draws it.    

                var data = new google.visualization.DataTable();
                
                data.addColumn('string', 'Title');
                data.addColumn('number', 'RequiredHours');

                for (var i = 0; i < chartData.length; i++) {
                    data.addRow([chartData[i].Title, chartData[i].RequiredHours]);
                }

                // Instantiate and draw our chart, passing in some options
                var options = {
                    //width: 1000,
                    //height: 563,
                    hAxis: {
                        title: 'Task Title',
                        //format: 'h:mm a',
                        gridlines: { count: 10 }
                    },
                    vAxis: {
                        title: 'Required Hours'
                    }
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('chartdiv'));

                chart.draw(data,
                  {
                      title: "Chart showing task Title vs. Required Hours",
                      position: "top",
                      fontsize: "14px",
                      chartArea: { width: '70%' },
                      animation: {
                          startup: true,
                          duration: 1000,
                          easing: 'out',
                      },
                      hAxis: {
                          title: 'Task Title',
                          //format: 'h:mm a',
                          minTextSpacing: 2
                      },
                      vAxis: {
                          title: 'Required Hours',
                          gridlines: { count: 10 },
                          minValue: 0,
                          maxValue: 10
                      }
                  });
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    })
</script>


<div id="chartdiv" style="width: 800px; height: 450px;">
    
</div> 

