﻿@{
    ViewBag.Title = "Task Management";
}

<h3>Task Management</h3>

<ul class="nav nav-tabs" style="float:right">
    <li class="active"><a data-toggle="tab" href="#list">Table View</a></li>
    <li><a data-toggle="tab" href="#chart">Chart View</a></li>
</ul>

<p>    
    <a href="#modal-create" data-toggle="modal" id="addtask" class="btn btn-success">
        Add Task
    </a>
</p>

<div class="modal fade" id="modal-create" role="dialog" data-dismiss="modal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a Task</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("Create")
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-edit" role="dialog" data-dismiss="modal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Task</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    </div>
</div>



<div class="tab-content">
    <div id="list" class="tab-pane fade in active">


    </div>
    <div id="chart" class="tab-pane fade">
        <div id="chartdiv" style="width: 800px; height: 450px;">

        </div> 
    </div>
</div>
    @section scripts
    {
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
</script>
        <script type="text/javascript">
            $(function () {
                var createSubmit = function (event) {


                    event.preventDefault();
                    var form = $(this);

                    if (!form.valid())
                        return;

                    $('#ajax-loader').modal('show');

                    $.ajax({
                        url: form.attr('action'),
                        type: "POST",
                        data: form.serialize(),
                        success: function (response) {
                            showListResponse(response);
                            $('#modal-create').modal('hide');


                            $("#modal-create form").find("input[type!='submit'], textarea").val('');

                            //$("#modal-create form .field-validation-error span").html('')
                        },
                        error: function (err) {
                            alert(err.responseText)
                        }

                    });

                }

                
                $("#addtask").click(function () {
                    //alert("new task");
                    $("#duedate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
                });
                loadList();
                $("#create-form").on("submit", createSubmit)
                //$("#DueDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });


                function loadList() {

                    $('#ajax-loader').modal('show')

                    $.ajax
                        ({
                            url: "/Task/TaskList",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            data: null,
                            success: function (response) {
                                showListResponse(response);

                            },
                            error: function (err) {
                                alert(err.responseText)
                                // $('#indicator').hide();
                            }
                        });
                }

                function showListResponse(response) {
                    $('#ajax-loader').modal('hide')

                    $('#list').html(response)
                    $("#tbl").DataTable();
                    attachDeleteEvent();
                    attachShowEditForm();
                }

                function attachDeleteEvent() {

                    $(".delete").confirm({
                        text: "Are you sure you want to delete?",
                        title: "Delete confirmation",
                        confirm: function (button) {
                            $('#ajax-loader').modal('show');
                            $.ajax
                            ({
                                url: button.attr('href'),
                                type: "POST",
                                success: function (response) {
                                    showListResponse(response);
                                    $('#ajax-loader').modal('hide');
                                },
                                error: function (err) {
                                    $('#ajax-loader').modal('hide');
                                    alert(err.responseText)

                                }

                            });
                        },
                        cancel: function (button) {
                            // nothing to do
                        },
                        confirmButton: "Yes Delete!",
                        cancelButton: "No",
                        post: true,
                        confirmButtonClass: "btn-danger",
                        cancelButtonClass: "btn-default"
                    })
                }

                function loadEditForm(link) {
                    $('#ajax-loader').modal('show');
                    $.ajax
                    ({
                        url: link.attr('href'),
                        type: "GET",
                        success: function (response) {

                            $("#modal-edit .modal-body").html(response)

                            $("#modal-edit").modal('show');

                            //$(".datefield").datepicker();
                            //$("#DueDate").datepicker({ dateFormat: 'yy-mm-dd' });;
                            $("#DueDate").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });

                            attachEditSubmit();
                            $('#ajax-loader').modal('hide');
                        },
                        error: function (err) {
                            alert(err.responseText)
                            $('#ajax-loader').modal('hide');
                        }
                    });
                }

                function attachShowEditForm() {
                    $(".edit").click(function () {
                        loadEditForm($(this))
                        return false;
                    })

                }

                function attachEditSubmit() {


                    $("#edit-form").on("submit",
                        function (event) {
                            event.preventDefault();
                            var form = $(this);

                            if (!form.valid())
                                return;

                            $('#ajax-loader').modal('show');

                            $.ajax({
                                url: form.attr('action'),
                                type: "POST",
                                data: form.serialize(),
                                success: function (response) {

                                    showListResponse(response);
                                    $('#modal-edit').modal('hide');

                                },
                                error: function (err) {
                                    alert(err.responseText)
                                }

                            });

                        })
                }



            })

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                if ((target == '#chart')) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '@Url.Action("BarChart")',
                        data: '{}',
                        success: function (chartData) {
                            //alert(chartData[0].Title);
                            // Callback that creates and populates a data table,    
                            // instantiates the pie chart, passes in the data and    
                            // draws it.    

                            var data = new google.visualization.DataTable();

                            data.addColumn('string', 'Title');
                            data.addColumn('number', 'RequiredHours');

                            for (var i = 0; i < chartData.length; i++) {
                                data.addRow([chartData[i].Title, chartData[i].RequiredHours]);
                            }

                            // Instantiate and draw our chart, passing in some options
                            var options = {
                                //width: 1000,
                                //height: 563,
                                hAxis: {
                                    title: 'Task Title',
                                    //format: 'h:mm a',
                                    gridlines: { count: 10 }
                                },
                                vAxis: {
                                    title: 'Required Hours'
                                }
                            };
                            var chart = new google.visualization.ColumnChart(document.getElementById('chartdiv'));

                            chart.draw(data,
                              {
                                  title: "Chart showing task Title vs. Required Hours",
                                  position: "top",
                                  fontsize: "14px",
                                  chartArea: { width: '70%' },
                                  animation: {
                                      startup: true,
                                      duration: 1000,
                                      easing: 'out',
                                  },
                                  hAxis: {
                                      title: 'Task Title',
                                      //format: 'h:mm a',
                                      minTextSpacing: 2
                                  },
                                  vAxis: {
                                      title: 'Required Hours',
                                      gridlines: { count: 10 },
                                      minValue: 0,
                                      maxValue: 10
                                  }
                              });
                        },
                        error: function () {
                            alert("Error loading data! Please try again.");
                        }
                    });
                } else {
                    
                }
            });


        </script>

    }
