﻿@model IEnumerable<DummyProj.Models.TaskDB>


<table id="tbl" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.DueDate)</th>
            <th>@Html.DisplayNameFor(model => model.RequiredHours)</th>
            <th>@Html.DisplayNameFor(model => model.Priority)</th>
            <th>Action</th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.taskId }, new { @class = "edit" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.taskId }, new { @class = "delete" })
                </td>
            </tr>
        }
    </tbody>
</table>